body {
  font-family: Arial, sans-serif;
  color: #0d674c; /* Prime Font Color */
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.assessment-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-items: center;
}

h1{
  text-align: center;
  
}

.assessment-header p {
  margin: 0 15px;
  text-align: center;
}

.question {
  margin-bottom: 20px;
}

.question p {
  font-size: 18px;
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}
.options button {
  background-color: #33D1AB; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options button:hover {
  background-color: #399778; 
}

.options button.selected {
  background-color: #399778; /* Prime Font Color */
  color: white;
}


/* Previous Button Styles */
.previous-button {
  background-color: #33D1AB; /* Second Font/Button Color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.previous-button:hover {
  background-color: #399778; /* Prime Font Color */
}

/* Continue Button Styles */
.continue-button {
  background-color: #33D1AB; /* Second Font/Button Color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.continue-button:hover {
  background-color: #399778; /* Prime Font Color */
}

/* Slider Styles */
.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.slider-container input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
}

/* Summary Styles */
.summary {
  list-style-type: none;
  padding: 0;
}

.summary li {
  margin-bottom: 10px;
}

.summary h3 {
  margin-bottom: 20px;
}

/* Mobile Styles */
@media (max-width: 600px) {
  .options {
    flex-direction: column;
  }
}
.question .options .option img {
  width: 50px; /* Adjust this size as needed */
  height: 40px; /* Adjust this size as needed */
  object-fit: contain;
  
}

.progress-bar-container {
  display: none;
  align-items: center;
  margin-bottom: 10px;
}

.progress-bar {
  height: 20px;
  background-color: #4caf50;
  border-radius: 5px;
  width: 100%;
  position: relative;
  text-align: center;
}

.progress-text {
  position: absolute;
  margin-left: 500px;
  color: #210f0f;
  font-weight: bold;
}














/* Slider container styles */
.question {
  margin: 20px;
  font-family: Arial, sans-serif;
}

/* Slider input styles */
input[type=range] {
  -webkit-appearance: none; /* Remove default appearance */
  width: 100%; /* Full-width */
  height: 8px; /* Slider height */
  background: #ddd; /* Background color */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Slightly transparent */
  transition: opacity .2s; /* Transition for opacity change */
}

input[type=range]:hover {
  opacity: 1; /* Fully opaque on hover */
}

/* Slider thumb (handle) styles */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default appearance */
  appearance: none;
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #4CAF50; /* Thumb color */
  cursor: pointer; /* Pointer cursor */
}

input[type=range]::-moz-range-thumb {
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: #4CAF50; /* Thumb color */
  cursor: pointer; /* Pointer cursor */
}

/* Slider thumb (handle) styles on focus */
input[type=range]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 2px #4CAF50; /* Add shadow on focus */
}

input[type=range]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 2px #4CAF50; /* Add shadow on focus */
}