.assessment-header p{
margin-left: 35px;
margin-right: 15px;
justify-content: center;
align-items: center;

}

.assessment-container {
  max-width: 600px;
  margin: 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.question {
  margin-bottom: 20px;
}

.question p {
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options button {
  padding: 10px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options button:hover {
  background-color: #0056b3;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.slider-container input[type="range"] {
  width: 100%;
}
.summary {
  list-style-type: none;
  padding: 0;
}

.summary li {
  margin-bottom: 10px;
}

.summary h3 {
  margin-bottom: 20px;
}









.assessment-container {
  background-color: #9CFCCE; /* Sober Background Color */
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
  color: #399778; /* Prime Font Color */
}

.question {
  margin-bottom: 20px;
}

.question p {
  font-size: 18px;
  margin-bottom: 10px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
}

.options button {
  background-color: #33D1AB; /* Second Font/Button Color */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.options button:hover {
  background-color: #399778; /* Prime Font Color */
}

input[type="range"] {
  width: 100%;
  margin-bottom: 10px;
}

.summary {
  list-style-type: none;
  padding: 0;
}

.summary li {
  margin-bottom: 10px;
}

/* Mobile Styles */
@media (max-width: 600px) {
  .options {
      flex-direction: column;
  }
}







