.assessment-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;  /* Sober Background Colour */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .assessment-container h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;  /* Prime Font Colour */
  }
  
  .assessment-container p {
    font-size: 1em;
    margin: 20px 0;
    color: #666;
  }
  
  .assessment-container button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #33D1AB;  /* Second Font/ Button Colour */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .assessment-container button:hover {
    background-color: #2AA990;
  }
  
  .assessment-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .assessment-container label {
    margin: 10px 0;
    font-size: 1em;
    color: #333;  /* Prime Font Colour */
  }
  
  .assessment-container input[type="text"],
  .assessment-container input[type="number"],
  .assessment-container input[type="range"] {
    padding: 10px;
    margin: 5px 0;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
  }
  
  .assessment-container input[type="range"] {
    width: 80%;
    margin: 15px 0;
  }
  
  .assessment-container button[type="button"] {
    background-color: #28a745 ;  /* You can keep this blue or use (optional) */
  }
  
  .assessment-container button[type="button"]:hover {
    background-color: #0056b3;
  }
  