/* Add the required CSS to match the UI design from the image */

.assessment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.question-box, .options-box {
  margin-bottom: 10px;
  font-size: x-large;
  font-weight: bold;
}
.question-box p{
  margin-bottom: 25px;
  position: relative;
}

.option-button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.option-button:hover {
  background-color: #e0e0e0;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  bottom: 0;
}

.prev-button, .next-button {
  padding:10px 30px;
  border: none;
  border-radius: 50px;
  background-color: #54b99b;
  color: white;
  cursor: pointer;
}
.next-button{
  position: fixed;
  right: 10px;
  bottom: 100px;
}
.prev-button{
  position: fixed;
  left: 10px;
  bottom: 100px;
}
.prev-button:hover, .next-button:hover {
  background-color: #54b99b;
}

.summary {
  text-align: center;
}

.progress-bar-container {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress-bar {
  height: 20px;
  background-color: #54b99b;
}

.progress-text {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: white;
}

.fact-page {
  text-align: center;
}

.fact-message {
  font-size: 18px;
  margin-bottom: 10px;
}

.remark {
  font-size: 14px;
  color: #888;
}

.typing-text {
 
  font-size: 14px;
  color: #444;
}

.fixed-button {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.selected {
  background-color: #4CAF50;
  color: white;
}
