/* Footer.css */
.f-wrapper {
    padding: 20px 0;
    color: #333;
    font-family: Arial, sans-serif;
}

.f-menu span {
    margin-right: 20px;
    cursor: pointer;
    transition: color 0.3s;
}
.form{
    width: 50%;
    margin: auto;
    margin-left: 20%;
}
.form:hover{
    scale:inherit;
    box-shadow: var(--shadow);
}

.f-menu span:hover {
    color: #399778;
}

.f-container {
    justify-content: space-between;
}

.f-left {
    gap: 1rem;
}
.f-wrapper{
    background-color:#8ef8d4a6;
}

.f-menu {
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;
}


@media (max-width: 768px) {
    .f-container {
        justify-content: center;
    }

    .f-container>div {
        align-items: center;
        text-align: center;
    }
    .form{
        width: auto;
        margin: 10px;
    }
    .qr{
        margin: 10px;
    }
}

/* Contact Form Styles */
form {
    margin-top: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(136, 255, 156, 0.46) 217.91%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(152, 8, 8, 0.1);
    width: 100%; /* Adjust as necessary, could be less like 300px or 400px */
}

form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #250c0c;
    border-radius: 20px;
}

form textarea {
    resize: none; /* Prevent resizing of textarea */
}

form input[type="submit"] {
    background-color: #04ff00;
    background: #399778;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover {
    scale: 1.1;
    background: var(--blue-gradient);
}